/*
Typefaces: Open Sans
Colours: #444, #000
Line-heights: 1.5
Margins: 1.5rem
Paddings: .5rem 1rem .6rem, 2rem
Widths: 24rem, 16rem, 5rem
*/


html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #444;
}
